<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-header>
  <ion-toolbar>
    <ion-searchbar style="--background: #e5ffeb; --color: #333;"></ion-searchbar>
    <ion-progress-bar type="indeterminate"></ion-progress-bar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong class="capitalize">{{ folder }}</strong>
    <p>Explore <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI
        Components</a></p>
    <div id="card">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Melyana Rizky Ramadhani</ion-card-title>
          <ion-card-subtitle>H1D022013</ion-card-subtitle>
        </ion-card-header>
        
        <ion-list>
          <ion-item>
            <ion-thumbnail slot="start">
              <img alt="Cake" src="assets/cake1.jpg" />
            </ion-thumbnail>
            <ion-label>Slice cake</ion-label>
          </ion-item>
    
          <ion-item>
            <ion-thumbnail slot="start">
              <img alt="Cake" src="assets/cake2.jpg" />
            </ion-thumbnail>
            <ion-label>Donat</ion-label>
          </ion-item>
    
          <ion-item>
            <ion-thumbnail slot="start">
              <img alt="Cake" src="assets/cake3.jpg" />
            </ion-thumbnail>
            <ion-label>Macaron</ion-label>
          </ion-item>
    
          <ion-item lines="none">
            <ion-thumbnail slot="start">
              <img alt="Cake" src="assets/cake4.jpg" />
            </ion-thumbnail>
            <ion-label>Pancake</ion-label>
          </ion-item>
        </ion-list>

        <ion-card-content>
          Makanan manis adalah sumber energi bagi tubuh, makanan manis juga dapat memperbaiki mood, dan mampu meningkatkan kemampuan berfikir.
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>